spring:
  datasource:
    url: jdbc:h2:mem:pgsr;MODE=PostgreSQL;DATABASE_TO_LOWER=TRUE;DEFAULT_NULL_ORDERING=HIGH
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        jdbc.lob.non_contextual_creation: true
    open-in-view: false
  jackson:
    serialization:
      indent_output: true
  h2:
    console:
      enabled: true
      path: /h2

server:
  port: 8080

security:
  jwt:
    secret: "CHANGE_ME_TO_A_LONG_RANDOM_BASE64_SECRET"
    access-expiration-minutes: 15
    refresh-expiration-days: 7

logging:
  level:
    org.springframework.security: INFO
    org.hibernate.SQL: WARN
